@import '@/styles/tokens.scss';

$-color-primary: $teacher-mobile-primary;
$-color-success: $teacher-mobile-primary;
$-color-warning: $teacher-mobile-warning;
$-color-danger: $teacher-mobile-danger;
$-color-info: $teacher-mobile-info;
